private/
*.orig
*.deb
*.buildinfo
*.changes
*.dsc
*.tar.*
dnfs-src/
dkms.conf
debian/tmp
tmp/
*.deb
*.buildinfo
*.changes
debian/.debhelper/
debian/debhelper-build-stamp
debian/dnfs-dkms.debhelper.log
debian/dnfs-dkms.postinst.debhelper
debian/dnfs-dkms.prerm.debhelper
debian/dnfs-dkms.substvars
debian/dnfs-dkms/debhelper-build-stamp
debian/dnfs-dkms/DEBIAN/
debian/dnfs-tools.debhelper.log
debian/dnfs-tools.substvars
debian/dnfs-tools/DEBIAN/
debian/files
debian/dnfs-dkms/
debian/dnfs-tools/
debian/files
